<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Synap Editor</title>
    <script type="text/javascript" src="synapeditor.js"></script>
</head>

<body>
    <form enctype="multipart/form-data" action="getSerializedPbData" method="POST" id="upload_form">
        <input type="hidden" name="MAX_FILE_SIZE" value="300000" />
        <input type="file" name='docFile' id="upload_file" />
        <input type="submit" value="파일 전송" />
    </form>
    <div id="synapEditor" class="container" style="max-width:800px"></div>
    <script>
        new SynapEditor('synapEditor');
        var form = document.getElementById("upload_form");

        form.onsubmit = function() {
            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();
            xhr.open("POST" , form.getAttribute("action"), true);
            xhr.send(formData);

            return false;
        }
    </script>
</body>

</html>